.StatsTable {
  // position: absolute;
  display: inline-block;
  font-size: 2vh;
  font-weight: bold;
  text-shadow: 3px 3px 5px black, -1px -1px 1px black;
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: 10;
  height: 15vh;
  width: calc(15vh * 1.618);
  td:first-child {
    text-align: left;
  }
  td:last-child {
    text-align: left;
  }
}
@media only screen and (max-height: 625px) {
  .StatsTable {
    font-size: 1.9vh;
  }
}
@media only screen and (max-height: 450px) {
  .StatsTable {
    font-size: 1.7;
    width: 100%;
  }
}
@media only screen and (max-height: 380px) {
  .StatsTable {
    font-size: x-small;
    width: 100%;
  }
}
@media only screen and (max-height: 300px) {
  .StatsTable {
    font-size: xx-small;
  }
}
/*
@media only screen and (max-width: 600px) {
  .StatsTable {
    font-size: smaller;
  }
}
@media only screen and (max-width: 420px) {
  .StatsTable {
    font-size: x-small;
  }
}
@media only screen and (max-width: 300px) {
  .StatsTable {
    font-size: xx-small;
  }
}
*/
